.amazon-link{
  color: blue;
  font-family:roboto;
  font-weight: bold;
  font-size: 18px;
  
}
.amazon-link:hover{
  color: rgb(243, 102, 8);
  transition: color 0.16s;

}
.title{
  font-size: 50px;
  font-weight: 20px;
  font-family:  roboto;
  color: brown;
}
.price{
  font-weight: bold;
  font-size: 20px;
  color: rgb(0,118,0);

}
.delivery{
  font-size: 15px;
  font-family: bold;
  font-weight: bold;
}
.cart{
  background-color: rgba(225, 216, 20);
  font-family: roboto;
  font-weight: bold;
  color: black;
  height: 35px;
  width: 120px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
}
  .cart:hover{
  opacity: 0.8;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s,box-shadow 0.18s;
}
.cart:active{
    opacity: 0.5;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    transition:color 0.15s, background-color 0.15s,box-shadow 0.18s,opacity 0.15s;

  
}
.buy{
  background-color: rgba(225, 164, 28);
  color: black;
  height: 35px;
  width: 120px;
  border-radius: 18px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s,
  color 0.15s;
  font-family: roboto;
  font-weight: bold;



}
.buy:hover{
  opacity: 0.8;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s,box-shadow 0.18s;
}
.buy:active{
    opacity: 0.5;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.15s,color 0.12s,box-shadow 0.18s,opacity 0.15s;

}